/* Responsive */
@media only screen and (max-width: 1100px) {

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 800px) {
	.col2{
		width:100%;
		float:none;
		padding:30px 0;
	}
}

@media only screen and (max-width: 479px) {
	
}

@media only screen and (max-width: 320px) {
	
}